<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .title }}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" type="image/png" href="/static/images/stock7sales.png">
</head>
<body class="bg-gray-100 flex items-center justify-center h-screen">
    <div class="text-center">
        <h1 class="text-6xl font-bold text-red-500">Erro {{ .StatusCode }}</h1>
        <p class="text-2xl mt-4 text-gray-700">{{ .ErrorMessage }}</p>
        <p class="text-gray-500 mt-2">Você não tem permissão para aceder a esta página.</p>
        <button onclick="window.history.back()" class="mt-6 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            Voltar à Página Anterior
        </button>
    </div>
</body>
</html>
